.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-name {
  font-size: 14px;
  padding-right: 25px;
}

.App-route {
  font-size: 14px;
  padding-right: 15px;
  color: white;
}
